@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Galera.png') no-repeat;
    background-size: cover;
    background-position: center;

}

.wrapper{
    width: 420px;
    background: #5861FD;
    background-position: center;
    color: azure;
    border-radius: 40px;
    padding: 30px 40px;
    box-shadow: 0 0 20px rgba(45, 0, 101, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}


.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 10px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    overflow: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: azure;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: azure;
    border: none;
    outline: none;
    line-height: 0%;
}

.wrapper .wrapperBtn{
    width: 400px;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapperBtn .btn2{
    width: 100%;
    height: 45px;
    background: azure;
    border: none;
    outline: none;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #020A98;
    font-weight: 600;
    margin-bottom: 30px;
}

.input-box input:focus{
    border: 0 none;
    outline: 2px solid rgba(255, 255, 255, 0.2);
}

.input-box i{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn{
    width: 90%;
    height: 45px;
    background: azure;
    border: none;
    outline: none;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #020A98;
    font-weight: 600;

}
